--- 
--- 

@font-face {
  font-family: "Mulish";
  src: url({{ "/assets/fonts/Mulish-Regular.ttf" | relative_url }});
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url({{ "/assets/fonts/Raleway-Regular.ttf" | relative_url }});
  font-display: swap;
}

@font-face {
  font-family: "Suite";
  src: url({{ "/assets/fonts/SUITE-Regular.ttf" | relative_url }});font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@layer base {
  html {
    font-family: "Raleway", "Suite", system-ui, sans-serif;
  }
}
