--- 
--- 

@font-face {
  font-family: "Mulish";
  src: url({{ "/assets/fonts/Mulish-Regular.ttf" | relative_url }});
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url({{ "/assets/fonts/Raleway-Regular.ttf" | relative_url }});
  font-display: swap;
}

@font-face {
  font-family: "Suite";
  src: url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE-SemiBold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+AC00-D7A3;
}

@layer base {
  html {
    font-family: "Raleway", system-ui, sans-serif;
  }
}
