---
---

// mjx-container[display="inline"] {
//   font-size: 0.8em !important;
//   margin-right: 0.5em !important;
// }

.mjx-inline {
  font-size: 0.85em;  /* 폰트 크기 조절 */
  margin-right: 0.5em; /* 수식 뒤 공백 */
}